.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: max-content minmax(50%, auto);
  max-width: fit-content;
  min-width: 204px;
  margin: 0 auto;
  padding-top: 20px;
}

.grid-item {
  border-bottom: 1px solid;
}

.subject-pronoun {
  padding: 6px 12px 6px 10px;
  text-align: right;

  font-weight: 700;
}

.conjugation {
  padding: 6px 10px 6px 12px;
  text-align: left;
}

.agreement-e-bracket {
  letter-spacing: -2.2px;
  padding-right: 1px;
}

.agreement-s {
  padding-left: 1.8px;
}

.agreement-s-bracket {
  letter-spacing: -1.5px;
}

.last-item {
  border: none;
}
