<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./card-table.css" /> -->
    <!-- <link rel="stylesheet" href="./card-grid.css" /> -->
    <link rel="stylesheet" href="./card-flex.css" />
  </head>
  <body>
    <p style="margin: 0 auto; text-align: center">aller</p>

    <div class="table">
      <div class="column subject-pronouns">
        <div class="item">je</div>
        <div class="item">tu</div>
        <div class="item">il/elle/on</div>
        <div class="item">nous</div>
        <div class="item">vous</div>
        <div class="item">ils/elles</div>
      </div>
      <div class="column conjugations">
        <div class="item">vais</div>
        <div class="item">vas</div>
        <div class="item">va</div>
        <!-- <div class="item">allons</div> -->
        <div class="item">nous sommes deshabille(e)(s)</div>
        <div class="item">allez</div>
        <div class="item">vont</div>
      </div>
    </div>

    <!-- <table>
      <tr>
        <td class="subject-pronoun">je</td>
        <td class="conjugation">vais</td>
      </tr>
      <tr>
        <td class="subject-pronoun">tu</td>
        <td class="conjugation">vas</td>
      </tr>
      <tr>
        <td class="subject-pronoun">il/elle/on</td>
        <td class="conjugation">va</td>
      </tr>
      <tr>
        <td class="subject-pronoun">vous</td>
        <td class="conjugation">allez</td>
      </tr>
      <tr>
        <td class="subject-pronoun">nous</td>
        <td class="conjugation">allons</td>
      </tr>
      <tr>
        <td class="subject-pronoun">ils/elles</td>
        <td class="conjugation">vont</td>
      </tr>
    </table> -->

    <!-- <div class="grid-container">
      <div class="grid-item subject-pronoun">je</div>
      <div class="grid-item conjugation">vais</div>

      <div class="grid-item subject-pronoun">tu</div>
      <div class="grid-item conjugation">vas</div>

      <div class="grid-item subject-pronoun">il/elle/on</div>
      <div class="grid-item conjugation">va</div>

      <div class="grid-item subject-pronoun">nous</div>
      <div class="grid-item conjugation">allons</div>

      <div class="grid-item subject-pronoun">vous</div>
      <div class="grid-item conjugation">allez</div>

      <div class="grid-item subject-pronoun last-item">
        ils/elles
      </div>
      <div class="grid-item conjugation last-item">vont</div> -->
    </div>
  </body>
</html>
